sources.iml
.idea/artifacts
.idea/copyright
.idea/libraries
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.classpath
.project

target/*
build/*
jar/*
.git/*
.settings/*
/build/
