/**** BASE ****/
body {
    padding-top: 50px;
    color: #888;   
}
a {
    color: #03a1d1;
    text-decoration: none!important;
}

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}

.img-responsive.list {
    max-height: 100px;
}

/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}
.top-mrg-20 {
    margin-top: 20px!important;
}
/* Color  */
.clr-535353 {
    color: #535353;
}

/* LIKE AND DISLIKE */
.like-or-not i.glyphicon { display: inline; font-size: 1.125em; cursor: pointer; }
.like-or-not i.glyphicon-thumbs-up { color: #1abc9c; }
.like-or-not i.glyphicon-thumbs-down { color: #e74c3c; padding-left: 5px; }
.like-or-not div { width: 15px; display: inline; font: 300 normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #34495e; text-align: center; background-color: transparent !important; border: none !important; }   

/* PLUS AND MINUS */
i.glyphicon-plus { color: #1abc9c; padding-left: 5px; }
i.glyphicon-minus { color: #e74c3c; padding-left: 5px; }

/* FRIENDS */
.img-responsive.friends {
    max-height: 50px;
}
/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
    
/* SPIN LOADER */
.spin-loader {
    -animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
    font-size: 50px;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

}