@font-face {
    font-family: "Nordic";
    src: url(fonts/NordicAlternativeRegular.ttf);
}

@font-face {
    font-family: "Paris";
    src: url(fonts/SilentReaction.ttf);
}

body{
    margin:0 0;
    overflow-x: hidden;
}

#hero {
    background-image: url("/TravelToParis/images?res=1366x768");
    background-size: cover;
    position: relative;
}

@media (max-width:1920px) {
    #hero {
        background-image: url("/TravelToParis/images?res=1920x1080");
        background-size: cover;
        position: relative;
    }
}

@media (max-width:2560px) {
    #hero {
        background-image: url("/TravelToParis/images?res=2560x1440");
        background-size: cover;
        position: relative;
    }
}

@media (max-width:3840px) {
    #hero {
        background-image: url("/TravelToParis/images?res=3840x2160");
        background-size: cover;
        position: relative;
    }
}


.header{
    position:absolute;
    top:50%;
    text-align:center;
    width:100%;
    color:#fff;
    font-size:50px;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
    text-shadow: 3px 2px #0f0f0f;
    font-family: Paris, sans-serif;
    background-color: rgba(0,0,0,0.5);
}

#content{
    padding:100px 50px;
    text-align:center;
    width:80%;
    margin:0 auto;
}

#content h2{
    margin:0 0 30px 0;
}

#footer{
    padding:30px 0;
    text-align:center;
    background:#ddd;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 22em;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    position: fixed;
    margin: 0 auto; /* 15% from the top and centered */
    border: 5px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    padding: 50px;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media only screen and (min-width: 40.063em) {
    .text h1 {
        padding-top: 4.5rem;
        text-align: right;
        font-size: 2.5rem; }
    .text p {
        text-align: right; } }