/* BASE */
body{
    margin:0 0;
    overflow-x: hidden;
    padding-top: 50px;
    color: #888; 
}

a {
    color: #03a1d1;
    text-decoration: none!important;
}

/* LAYOUT */
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}

.img-responsive.list {
    max-height: 100px;
}
input {
        max-width: 100%;
    }

/* MODULE */
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* FONTS */
.fnt-smaller {
    font-size: .9em;
}

.fnt-100px {
    font-size: 100px!important;
}

.fnt-lighter {
    color: #bbb;
}

@font-face {
    font-family: "Nordic";
    src: url(fonts/NordicAlternativeRegular.ttf);
}

@font-face {
    font-family: "Paris";
    src: url(fonts/SilentReaction.ttf);
}

/* LIKE AND DISLIKE */
.like-or-not i.glyphicon { display: inline; font-size: 1.125em; cursor: pointer; }
.like-or-not i.glyphicon-thumbs-up { color: #1abc9c; }
.like-or-not i.glyphicon-thumbs-down { color: #e74c3c; padding-left: 5px; }
.like-or-not div { width: 15px; display: inline; font: 300 normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #34495e; text-align: center; background-color: transparent !important; border: none !important; }   

/* PLUS AND MINUS */
i.glyphicon-plus { color: #1abc9c; padding-left: 5px; }
i.glyphicon-minus { color: #e74c3c; padding-left: 5px; }

/* FRIENDS */
.img-responsive.friends {
    max-height: 50px;
}
/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

/* PADDING & MARGING */
.pad-10 {
    padding: 10px!important;
}

.pad-top-20 {
    padding-top: 20px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}
.top-mrg-20 {
    margin-top: 20px!important;
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
    
/* SPIN LOADER */
.spin-loader {
    -animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
    font-size: 50px;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* BACKGROUND */
#hero {
    background-image: url("/TravelToParis/images?res=1366x768");
    background-size: cover;
    position: relative;
}

@media (max-width:1920px) {
    #hero {
        background-image: url("/TravelToParis/images?res=1920x1080");
        background-size: cover;
        position: relative;
    }
}

@media (max-width:2560px) {
    #hero {
        background-image: url("/TravelToParis/images?res=2560x1440");
        background-size: cover;
        position: relative;
    }
}

@media (max-width:3840px) {
    #hero {
        background-image: url("/TravelToParis/images?res=3840x2160");
        background-size: cover;
        position: relative;
    }
}

.header{
    position:absolute;
    top:50%;
    text-align:center;
    width:100%;
    color:#fff;
    font-size:50px;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
    text-shadow: 3px 2px #0f0f0f;
    font-family: Paris, sans-serif;
    background-color: rgba(0,0,0,0.5);
}

#content{
    padding:100px 50px;
    text-align:center;
    width:80%;
    margin:0 auto;
}

#content h2{
    margin:0 0 30px 0;
}

#footer{
    padding:30px 0;
    text-align:center;
    background:#ddd;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 22em;
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media only screen and (min-width: 40.063em) {
    .text h1 {
        padding-top: 4.5rem;
        text-align: right;
        font-size: 2.5rem; }
    .text p {
        text-align: right; } 
}

/* Color  */
.clr-535353 {
    color: #535353;
}

