<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>Travel to Paris</display-name>
    <description>
        The best goddamn app in the web
    </description>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.dar.servlet.HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>com.dar.servlet.redirection.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trips</servlet-name>
        <servlet-class>com.dar.servlet.redirection.MyTrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newtrip</servlet-name>
        <servlet-class>com.dar.servlet.redirection.OrganizeTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createaccount</servlet-name>
        <servlet-class>com.dar.servlet.service.update.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createtrip</servlet-name>
        <servlet-class>com.dar.servlet.service.update.CreateTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>com.dar.servlet.service.session.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gettrips</servlet-name>
        <servlet-class>com.dar.servlet.service.info.GetMyTrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calendar</servlet-name>
        <servlet-class>com.dar.servlet.service.trip.CalendarTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chat</servlet-name>
        <servlet-class>com.dar.servlet.service.trip.ChatTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>events</servlet-name>
        <servlet-class>com.dar.servlet.service.trip.EventsTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>friends</servlet-name>
        <servlet-class>com.dar.servlet.service.trip.FriendsTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>overview</servlet-name>
        <servlet-class>com.dar.servlet.service.trip.OverviewTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>settings</servlet-name>
        <servlet-class>com.dar.servlet.service.trip.SettingsTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getimages</servlet-name>
        <servlet-class>com.dar.servlet.service.GetImages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createaccount</servlet-name>
        <url-pattern>/account-creation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gettrips</servlet-name>
        <url-pattern>/get-my-trips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trips</servlet-name>
        <url-pattern>/my-trips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newtrip</servlet-name>
        <url-pattern>/new-trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createtrip</servlet-name>
        <url-pattern>/create-trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calendar</servlet-name>
        <url-pattern>/cal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chat</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>events</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>friends</servlet-name>
        <url-pattern>/invite-friends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>overview</servlet-name>
        <url-pattern>/overview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>settings</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getimages</servlet-name>
        <url-pattern>/images</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.dar.servlet.service.session.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
