<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
         
<!--  NAME OF THE WEB APPLICATION -->
      <display-name>Travel to Paris</display-name>
      
<!-- DESCRIPTION OF THE WEB APPLICATION -->
    <description>
        The best goddamn app in the web
    </description>
    
<!-- HOME PAGE -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

<!-- DEFINITON OF SERVLETS -->
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>com.dar.servlet.redirection.SignUp</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>createaccount</servlet-name>
    	<servlet-class>com.dar.servlet.service.update.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>com.dar.servlet.service.session.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gettrips</servlet-name>
        <servlet-class>com.dar.servlet.service.info.GetMyTrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trips</servlet-name>
        <servlet-class>com.dar.servlet.redirection.MyTrips</servlet-class>
    </servlet>


<!-- MAPPING OF SERVLETS -->
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createaccount</servlet-name>
        <url-pattern>/account-creation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gettrips</servlet-name>
        <url-pattern>/get-my-trips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trips</servlet-name>
        <url-pattern>/my-trips</url-pattern>
    </servlet-mapping>
</web-app>
